body, html {
    height: 100%;
}

#p1 {
    line-height: 80%;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 28px;
}


#p11 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 28px;
}

.p5 {
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 5px;
    color: black;
    font-size: 24px;
}


.p6 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: black;
}

#p2 {
    padding-top: 30px;
    line-height: 80%;
    font-family: 'Niconne', cursive;
    color: #f8bd08;
    font-size: 60px;
    text-align: center;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #ffffff;
    height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 10px;
    }

    .row.content {
        height: auto;
    }
}


#white_div_01 {
    /*padding-left:50px;*/
    padding-bottom: 30px;
    padding-top: 30px;
    /*width:50%;
    float:left;*/
}

#white_div_02 {
    /*width:50%;float:left;*/ padding-bottom: 30px;
    padding-top: 30px;
}

.p3 {
    color: black;
}

.p4 {
    font-size: 14px;
    color: black;
}

.p33 {
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 5px;
    color: black;
    font-size: 16px;
}

.p4 {
    font-size: 14px;
    color: black;
}



#black_border_div_container {
    background-color: white;
    /*height:1300px;*/
    /*width:100%;*/
}

.black_border_divv {
    /*border: 3px solid black;*/
    height: 200px;
    background-color: white;
    /*padding-left:140px;
    padding-right:140px;
    padding-top:30px;
    padding-bottom:30px;*/
    margin-bottom: 20px;
    border: solid black;
    padding: 20px;
}


.black_border_div {
    border: solid black;
    height: 200px;
    background-color: white;
    /*padding-left:140px;
    padding-right:140px;
    padding-top:30px;
    padding-bottom:30px;*/
    padding: 20px;
    margin-top: 20px;
}

    .black_border_div:hover {
        border: solid #f8bd08;
        color: #f8bd08;
    }

.black_border_divv:hover {
    border: solid #f8bd08;
    color: #f8bd08;
}



.black_border_div_02 {
    /*width:75%;
    float:left;*/
    text-align: left;
}

hr {
    color: lightblue;
}


