
<div id="outer">
    <a href="~/Home/Index">
        <div id="inner">
            <p id="p1">CANBERRA</p>
            <p id="p11">RESTAURANTS</p>
        </div>
    </a>
</div>

<p id="p2">Dishes</p>
<section>
    <div id="white_div">

        <div id="white_div_01">

            <p class="p33">A DISH FOR EVERY TASTE</p>

            <p class="p4">If you have got a hankering for a big bowl of handmade pasta or</p>

            <p class="p4">delicious , spicy laksa, then look no further.</p>

            <p class="p4">Check out what's on offer by selecting a cuisine from the menu below.</p>

        </div>

        <div id="white_div_02"><img src="~/images/burger.jpeg" class="img-rounded" alt="Cinque Terre" width="150" height="150" /></div>

        <div id="white_div_03"><img src="~/images/pasta.jpeg" class="img-rounded" alt="Cinque Terre" width="150" height="150" /></div>

    </div>
</section>

<!----------------------------------------------------Accordion Panel starts here----------------------------------------------->
<section>
    <div id="accordion_div">

        <div id="accordion_div_01" class="container-fluid">


            <div class="panel-group" id="accordion">

                <div class="panel panel-default">

                    <div class="panel-heading">

                        <h4 class="panel-title">

                            <a data-toggle="collapse" data-parent="" href="#collapse1">Pasta</a>

                        </h4>

                    </div>

                    <!------------------------------------------------Panel 01------------------------------------------------------->

                    <div id="collapse1" class="panel-collapse collapse">


                        <div class="panel-body">


                            <div class="panel-body-01">


                                <div class="panel-body-01_01">


                                    <img src="~/images/location/jamie_logo.png" style="width:150px;height:150px;" />


                                </div>



                                <div class="panel-body-01_02">


                                    <p class="p33">JAMIE'S ITALIAN</p>

                                    <p class="p4">"With prime position in the Canberra centre on Bunda Street, Jamie's Italian is the </p>
                                    <p class="p4">perfect place for a midshopping bit stop, or a buzzing evening out. With beautiful room-height windows</p>
                                    <p class="p4">and impressive lofty ceilings, the restaurant is full of atmosphere." -Jamie's Italian Website</p>
                                    <p class="p4"><a class="alink" href="https://www.jamieoliver.com/italian/australia/restaurants/canberra/">Click Here </a>for the Jamie's Italian Canberra website or <a class="alink" href="https://www.jamieoliver.com/italian/australia/restaurants/canberra/">Click Here </a>for more information on Italian cuisine.</p>


                                </div>


                            </div>




                        </div>

                    </div>

                </div>
                <!--------------------------------------------Panel 02--------------------------------------------------------->

                <div class="panel panel-default">

                    <div class="panel-heading">

                        <h4 class="panel-title">

                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Pizza</a>

                        </h4>

                    </div>


                    <div id="collapse2" class="panel-collapse collapse">

                        <div class="panel-body">

                            <div class="panel-body-01">

                                <div class="panel-body-01_01">


                                    <img src="~/images/location/is_logo.gif" style="width:150px;height:150px;" />


                                </div>


                                <div class="panel-body-01_02">


                                    <p class="p33">ITALIAN AND SONS</p>

                                    <p class="p4">"A casual Italian trattoria that specialises in wood fried pizzas such as Rucola with Prosciutto di Parma,</p>

                                    <p class="p4">rucola & reggiano. Don't miss daily changing main dishes of the day such as their wood roast suckling pip,</p>

                                    <p class="p4">rosemary, garlic, baked baby fennel & mustard fruits." - Australian good Food Guide</p>

                                    <p class="p4"><a class="alink" href="http://www.italianandsons.com.au/">Click Here </a>for the Italian and Sons website or <a class="alink" href="Home page.aspx">Click Here </a> for more information on Italian Cuisine.</p>


                                </div>

                            </div>

                        </div>

                    </div>

                </div>


                <!------------------------------------------Panel 3 ------------------------------------------------------->

                <div class="panel panel-default">

                    <div class="panel-heading">

                        <h4 class="panel-title">

                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Curry</a>

                        </h4>

                    </div>



                    <div id="collapse3" class="panel-collapse collapse">

                        <div class="panel-body">

                            <div class="panel-body-01">


                                <div class="panel-body-01_01">


                                    <img src="~/images/location/bluginger_logo.png" style="width:150px;height:150px;" />


                                </div>


                                <div class="panel-body-01_02">


                                    <p class="p33">BLU GINGER</p>
                                    <p class="p4">"At Blu Ginger we use only the freshest locally sourced produce, combined with</p>
                                    <p class="p4">authentic spices imported directly from the sub-continent, to offer classic, traditional recipes</p>
                                    <p class="p4">with a modern twist, creating a unique and memorable dining experience for you" -Blu Ginger Website</p>
                                    <p class="p4"><a class="alink" href="http://http://www.bluginger.com.au/">Click Here </a>for the Blu Ginger website or<a class="alink" href="Home page.aspx">Click Here </a> for more information on Italian Cuisine.</p>


                                </div>


                            </div>


                            <div class="panel-body-02">


                                <div class="panel-body-01_01">


                                    <img src="~/images/location/jewel_logo.jpg" style="width:150px;height:150px;" />


                                </div>



                                <div class="panel-body-01_02">


                                    <p class="p33">JEWEL OF INDIA</p>
                                    <p class="p4">"Finding a balance between dishes inspired by authentic receipes and creating</p>
                                    <p class="p4">a modern take on classic cuisine sees a loyal following of Canberra locals returning for</p>
                                    <p class="p4">a mouth-watering feast"-Australian good Food Guide</p>
                                    <p class="p4"><a class="alink" href="http://www.jewelofindia.com.au/">Click Here </a>for the Jewel of India website or<a class="alink" href="Home page.aspx">Click Here </a> for more information on Italian Cuisine.</p>


                                </div>

                            </div>

                        </div>

                    </div>



                </div>


                <!------------------------------------------------Panel 04------------------------------------------------------->
                <div class="panel panel-default">

                    <div class="panel-heading">

                        <h4 class="panel-title">

                            <a data-toggle="collapse" data-parent="" href="#collapse4">Dumplings</a>

                        </h4>

                    </div>



                    <div id="collapse4" class="panel-collapse collapse">


                        <div class="panel-body">


                            <div class="panel-body-01">


                                <div class="panel-body-01_01">


                                    <img src="~/images/location/chairman_logo.png" style="width:150px;height:150px;" />


                                </div>


                                <div class="panel-body-01_02">


                                    <p class="p33">THE CHAIRMAN & YIP</p>
                                    <p class="p4">"The Chairman &amp; Yip has become one of Canberra&#39;s longest standing and most highly regarded</p>
                                    <p class="p4">institutions, having received numerous awards over the years, offering an ever consistent and</p>
                                    <p class="p4">professional quality of service for corporate dining, conferencea and presentations "-Chairman &amp; Yip website </p>
                                    <p class="p4"><a class="alink" href="http://chairmangroup.com.au/chairmanyip/">Click Here </a>for The Chairman &amp; Yip website or <a class="alink" href="Home page.aspx">Click Here </a> for more information on Italian Cuisine.</p>


                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <!--------------------------------------------Panel 05--------------------------------------------------------->

                <div class="panel panel-default">

                    <div class="panel-heading">

                        <h4 class="panel-title">

                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Laksa</a>

                        </h4>

                    </div>



                    <div id="collapse5" class="panel-collapse collapse">

                        <div class="panel-body">

                            <div class="panel-body-01">


                                <div class="panel-body-01_01">


                                    <img src="~/images/location/noodle_logo.jpg" style="width:150px;height:150px;" />


                                </div>



                                <div class="panel-body-01_02">


                                    <p class="p33">DICKSON ASIAN NOODLE HOUSE</p>
                                    <p class="p4">"The Dickson Asian Noodle House specialises in traditional Malaysian, Thai and Lao cuisine.</p>
                                    <p class="p4">The dining atmosphere is casual and cosy providing for a la carte dining, banquets and take away" -Vibe FM Website</p>
                                    <p class="p4"><a class="alink" href="https://www.facebook.com/pages/Dickson-Asian-Noodle-House/156690017692038">Click Here </a>for the Dickson Asian Noodle House Facebook page or <a class="alink" href="Home page.aspx">Click Here </a> for more information on Italian Cuisine.</p>


                                </div>

                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </div> <!---------------------- Accordion_div_01 closes here --------------------->


        <div id="accordion_div_02">
            <p class="review-header">REVIEWS</p>

            <!--<div class="orange_line_in_reviews"></div>-->
            <hr class="reviewhr" />
            <h4 class="reviewh4"><strong>Duck pancakes to die for</strong></h4>
            <div class="rating">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
            <p class="review">Chairman and Yip</p>
            <p class="review">
                The service, the atmosphere and the food at this place are everything you
                would expect from a restaurant that people hold with such high regard.
                All of the dishes were amazing, but the duck pancakes were something
                that I would go back for over and over again.
            </p>

            <!--<div class="orange_line_in_reviews"></div>-->
            <hr class="reviewhr" />
            <h4 class="reviewh4">Best. Laksa. EVER!</h4>
            <div class="rating">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
            <p class="review">Dickson Asian Noodle House</p>
            <p class="review">
                I have heard on numerous occassions that the laksa at the Dickson
                Asian Noodle House is the best Laksa in Canberra(if not, Australia).
                I had to see it to believe it and believe it I do. It was
            </p>
        </div><!---------------------- Accordion_div_02 closes here --------------------->

    </div><!---------------------- Accordion_div closes here --------------------->
</section>
