@{
    Session["Menu"] = "Home";
    ViewBag.Title = "Home";
}

<link href="~/Content/HomePage.css" rel="stylesheet" />
<div id="outer">
    <a href="~/Home/Index">
        <div id="inner">
            <p id="p1">CANBERRA</p>
            <p id="p11">RESTAURANTS</p>
        </div>
    </a>
    <div class="text-banner">
        <p id="p3">"A restaurant is a fantasy-a kind of living fantasy in which diners are the most important members of the cast"</p>
        <p id="p2">Warner LeRoy</p>
    </div>
</div>


<div id="white_div" style="padding-top: 3%">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p id="p4">Welcome to</p>
                <p class="p5">CANBERRA RESTAURANTS</p>
                <p class="p6">At Canberra Restaurants, we provide an overview of restaurants </p>
                <p class="p6">within Canberra and allow you to find a meal based on a certain cuisine,</p>
                <p class="p6">a specific dish that you're after or you're just after a meal within price range.</p>
                <br />
                <p class="p6">We've got it all here for you. Just scroll down for further information.</p>
            </div>

            <div class="col-md-2">
                <img src="~/images/burger.jpeg" class="img-rounded" alt="Cinque Terre" width="150" height="150" />
            </div>

            <div class="col-md-2">
                <img src="~/images/pasta.jpeg" class="img-rounded" alt="Cinque Terre" width="150" height="150" />
            </div>

        </div>
    </div>
</div>

<div id="below_white_div">
    <div class="row">

        <div class="below_white_div_01 col-md-3">

            <p class="heading">Cuisine</p>

            <p class="sub-heading">The multicultural society in Canberra spoils the locals with such a vast amount of flavours from around the world.</p>

            <p class="sub-heading"><a style="color:darkorange">Click here</a> to find out more about the different cuisines available.</p>

        </div>

        <div class="below_white_div_01 col-md-3">

            <p class="heading">Dishes</p>

            <p class="sub-heading">With a great amount of cuisines comes a great amount of dishes!There are so many amazing dishes for you to try.</p>

            <p class="sub-heading"><a style="color:darkorange">Click here</a> to look for a dish.</p>

        </div>

        <div class="below_white_div_01 col-md-3">

            <p class="heading">Price</p>

            <p class="sub-heading">Whether you are after a super cheap meal or want to treat yourself to something a little more fancy, Canberra has it all.</p>

            <p class="sub-heading"><a style="color:darkorange">Click here</a> to see what's available in your price range.</p>

        </div>

        <div class="below_white_div_01 col-md-3">

            <p class="heading">Location</p>

            <p class="sub-heading">There might be the perfect meal waiting just around the corner from you. Check out our locations page to find a restaurant near you!</p>

            <p class="sub-heading"><a style="color:darkorange">Click here</a> to see what's available near you.</p>

        </div>

    </div>
</div>

<div>


    <div id="review_div">


        <div id="review_div_01"><img src="~/images/burger.jpeg" class="img-rounded" alt="Cinque Terre" width="150" height="150" /></div>


        <div id="review_div_02"><img src="~/images/pasta.jpeg" class="img-rounded" alt="Cinque Terre" width="150" height="150" /></div>


        <div id="review_div_03">

            <p class="heading" style="text-align:left">Reviews</p>

            <p class="p5">CAN'T MAKE UP YOUR MIND?</p>

            <p class="p6">People from around Australia have already visited these restaurants</p>

            <p class="p6">and have given us their thoughts</p>

            <p class="p6">Head over to our <a href="~/Home/Reviews">Customers Review Page</a> to find out more.</p>

        </div>


    </div>

</div>

<div>

    <div id="below_review_div">


        <div id="hr_div_01"></div>

        <p class="heading" style="font-size:60px;">Featured Restaurants</p>

        <div id="hr_div_02"></div>



        <div class=".container-fluid">

            <br />

            <div id="myCarousel" class="carousel slide" data-ride="carousel">


                <!-- Wrapper for slides -->


                <div class="carousel-inner" role="listbox">

                    <div class="item active">

                        <a href="https://www.jamieoliver.com/italian/australia/restaurants/canberra/">

                            <img src="~/images/carousel/jamies_car.jpg" alt="Flower" style="height:400px;width:100%" />
                        </a>


                        <div class="carousel-caption">

                            <h5>Jamie's Italian</h5>


                        </div>

                    </div>

                    <div class="item">

                        <a href="http://www.italianandsons.com.au/">

                            <img src="~/images/carousel/itandsons_car.jpg" alt="Flower" style="height:400px;width:100%" />
                        </a>


                        <div class="carousel-caption">

                            <h5>Italian and Sons</h5>

                        </div>

                    </div>

                    <div class="item">
                        <a href="http://chairmangroup.com.au/chairmanyip/">
                            <img src="~/images/carousel/chairman_car.jpeg" alt="Chania" style="height:400px;width:100%" />
                        </a>

                        <div class="carousel-caption">

                            <h5>The Chairman and Yip</h5>

                        </div>

                    </div>

                    <div class="item">
                        <a href="http://www.vibefm.com.au/dicksonasiannoodlehouse.htm">
                            <img src="~/images/carousel/dicksonnoodle_car.jpeg" alt="Flower" style="height:400px;width:100%" />
                        </a>

                        <div class="carousel-caption">

                            <h5>Dickson Noodle House</h5>

                        </div>

                    </div>

                    <div class="item">
                        <a href="http://www.bluginger.com.au/">
                            <img src="~/images/carousel/bluginger_car.jpg" alt="Chania" style="height:400px;width:100%" />
                        </a>

                        <div class="carousel-caption">

                            <h5>Blu Ginger</h5>

                        </div>

                    </div>

                    <div class="item">
                        <a href="http://www.jewelofindia.com.au/">
                            <img src="~/images/carousel/jewel_car.jpg" alt="Flower" style="height:400px;width:100%" />
                        </a>

                        <div class="carousel-caption">

                            <h5>Jewel of India</h5>

                        </div>

                    </div>

                </div>


                <!-- Left and right controls -->

                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">

                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

                    <span class="sr-only">Previous</span>

                </a>

                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">

                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

                    <span class="sr-only">Next</span>

                </a>


                <!-- Indicators -->

                <ol class="carousel-indicators">

                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

                    <li data-target="#myCarousel" data-slide-to="1"></li>

                    <li data-target="#myCarousel" data-slide-to="2"></li>

                    <li data-target="#myCarousel" data-slide-to="3"></li>

                    <li data-target="#myCarousel" data-slide-to="4"></li>

                    <li data-target="#myCarousel" data-slide-to="5"></li>

                </ol>
            </div>

        </div>
    </div>
</div>

