

<div id="outer">
    <a href="~/Home/Index">
        <div id="inner">
            <p id="p1">CANBERRA</p>
            <p id="p11">RESTAURANTS</p>
        </div>
    </a>
</div>

<p id="p2">Restaurant Locations</p>

<div id="googleMap" style="width: 100%; height: 100%"></div>


<script src="~/js/googlemap.js"></script>
