@{
    Session["Menu"] = "Restaurants";
    ViewBag.Title = "Restaurants";
}
<link href="~/Content/RestaurantsPage.css" rel="stylesheet" />
<div id="outer">
    <a href="~/Home/Index">
        <div id="inner">
            <p id="p1">CANBERRA</p>
            <p id="p11">RESTAURANTS</p>
        </div>
    </a>
    <p id="p2">Restaurants</p>
</div>

<div id="white_div">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="white_div_01" class="col-md-6">
                    <p class="p5">THE RESTAURANTS</p>
                    <p class="p6">
                        Whether you're after the taste of the Mediterranean or some oriental
                        delights, then Canberra has the restaurant for you.
                    </p>
                    <p class="p6">Check out what's on offer by checking out out restaurants below.</p>
                </div>

                <div id="white_div_02" class="col-md-6">
                    <p class="p5">CUSTOMER REVIEWS</p>
                    <p class="p6">
                        If you want to find out more about the restaurants highlighted below, there's plenty of
                        information to be found at our customer review page.
                    <p class="p6">
                        <a href="~/Home/Reviews">Click here</a> to head to the cutomer reviews page.
                    </p>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="black_border_div_container">

                    <div class="row">

                        <div class="black_border_divv col-md-12">

                            <div class="black_border_div_01 col-md-2">

                                <img src="~/images/location/is_logo.gif" style="width: 150px; height: 150px;" />

                            </div>

                            <div class="black_border_div_02 col-md-10">

                                <p class="p33">
                                    <strong>ITALIAN AND SONS</strong>
                                </p>


                                <p class="p4">"A casual Italian trattoria that specialises in wood fried pizzas such as Rucola with Prosciutto di Parma,</p>


                                <p class="p4">rucola & reggiano. Don't miss daily changing main dishes of the day such as their wood roast suckling pip,</p>


                                <p class="p4">rosemary, garlic, baked baby fennel & mustard fruits." - Australian good Food Guide</p>


                                <p class="p4">
                                    <a href="http://www.italianandsons.com.au/">Click Here </a>for the Italian and Sons website.
                                </p>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="black_border_div col-md-12">

                            <div class="black_border_div_01 col-md-2">

                                <img src="~/images/location/jamie_logo.png" style="width: 150px; height: 150px;" />

                            </div>

                            <div class="black_border_div_02 col-md-10">

                                <p class="p33">
                                    <strong>JAMIE'S ITALIAN</strong>
                                </p>

                                <p class="p4">"With prime position in the Canberra centre on Bunda Street, Jamie's Italian is the </p>

                                <p class="p4">perfect place for a midshopping bit stop, or a buzzing evening out. With beautiful room-height windows</p>

                                <p class="p4">and impressive lofty ceilings, the restaurant is full of atmosphere." -Jamie's Italian Website</p>

                                <p class="p4">
                                    <a href="https://www.jamieoliver.com/italian/australia/restaurants/canberra/">Click Here </a>for the Jamie's Italian Canberra website.
                                </p>

                            </div>

                        </div>
                    </div>
                    <div class="row">

                        <div class="black_border_div col-md-12">

                            <div class="black_border_div_01 col-md-2">

                                <img src="~/images/location/chairman_logo.png" style="width: 150px; height: 150px;" />

                            </div>

                            <div class="black_border_div_02 col-md-10">

                                <p class="p33">
                                    <strong>THE CHAIRMAN & YIP</strong>
                                </p>
                                <p class="p4">"The Chairman &amp; Yip has become one of Canberra&#39;s longest standing and most highly regarded</p>
                                <p class="p4">institutions, having received numerous awards over the years, offering an ever consistent and</p>
                                <p class="p4">professional quality of service for corporate dining, conferencea and presentations "-Chairman &amp; Yip website </p>
                                <p class="p4">
                                    <a href="http://chairmangroup.com.au/chairmanyip/">Click Here </a>for The Chairman &amp; Yip website.
                                </p>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="black_border_div col-md-12">

                            <div class="black_border_div_01 col-md-2">

                                <img src="~/images/location/noodle_logo.jpg" style="width: 150px; height: 150px;" />

                            </div>

                            <div class="black_border_div_02 col-md-10">

                                <p class="p33">
                                    <strong>DICKSON ASIAN NOODLE HOUSE</strong>
                                </p>

                                <p class="p4">"The Dickson Asian Noodle House specialises in traditional Malaysian, Thai and Lao cuisine.</p>

                                <p class="p4">The dining atmosphere is casual and cosy providing for a la carte dining, banquets and take away" -Vibe FM Website</p>

                                <p class="p4">
                                    <a href="https://www.facebook.com/pages/Dickson-Asian-Noodle-House/156690017692038">Click Here </a>for the Dickson Asian Noodle House Facebook page.
                                </p>

                            </div>

                        </div>
                    </div>
                    <div class="row">

                        <div class="black_border_div col-md-12">

                            <div class="black_border_div_01 col-md-2">

                                <img src="~/images/location/bluginger_logo.png" style="width: 150px; height: 150px;" />

                            </div>

                            <div class="black_border_div_02 col-md-10">

                                <p class="p33">
                                    <strong>BLU GINGER</strong>
                                </p>

                                <p class="p4">"At Blu Ginger we use only the freshest locally sourced produce, combined with</p>

                                <p class="p4">authentic spices imported directly from the sub-continent, to offer classic, traditional recipes</p>

                                <p class="p4">with a modern twist, creating a unique and memorable dining experience for you" -Blu Ginger Website</p>

                                <p class="p4">
                                    <a href="http://http://www.bluginger.com.au/">Click Here </a>for the Blu Ginger website.
                                </p>

                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="black_border_div col-md-12">

                            <div class="black_border_div_01 col-md-2">

                                <img src="~/images/location/jewel_logo.jpg" style="width: 150px; height: 150px;" />

                            </div>

                            <div class="black_border_div_02 col-md-10">

                                <p class="p33">
                                    <strong>JEWEL OF INDIA</strong>
                                </p>

                                <p class="p4">"Finding a balance between dishes inspired by authentic receipes and creating</p>

                                <p class="p4">a modern take on classic cuisine sees a loyal following of Canberra locals returning for</p>

                                <p class="p4">a mouth-watering feast"-Australian good Food Guide</p>

                                <p class="p4">
                                    <a href="http://www.jewelofindia.com.au/">Click Here </a>for the Jewel of India website.
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>